html {
  background-color: rgb(15,15,15);
  margin-bottom: 5em;
}

audio {
  outline: none;
  width: 40%;
}

input {
  height: 2em;
  width: 100%;
}

button {
  height: 3em;
  width: 5em;
  border-radius: 2em;
  background-color: black;
  color: teal;
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 1em;
  margin-right: 1em;
  outline: none;
  transition: 0.3s;
}

button:hover {
  background-color: teal;
  color: white;
  cursor: pointer;
}

.App {
  text-align: center;
  box-sizing: content-box;
  cursor: default;
}

.song {
  color: white;
  height: 14em;
  width: 14em;
  padding: 1em;
  margin: 1em;
  border: solid 0.1em;
  float: left;
  transition: 0.3s
}

.song:hover {
  color: teal;
  background-color: rgb(10,10,10);
  transform: scale(1.05);
}

.songTitle {
  font-weight: bold;
}

.songArtist {
  font-size: 0.8em;
}

.songDetail {
  height: 70%;
  width: 100%;
}

.special-songs {
  float: left;
}

.special-songs > p {
  color: teal;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  padding-left: 1em;
}

.playlist:hover {
  color: white;
  cursor: pointer;
  transition: 0.5s;
}

.submit {
  height: 2.5em;
  width: 100%;
  border-radius: 2em;
  margin-top: 1em;
  background-color: black;
  color: teal;
  font-size: 1em;
  font-weight: bold;
  outline: none;
}

.submit:hover {
  transition: 0.3s;
  background-color: teal;
  color: white;
  cursor: pointer;
}

.player-btn {
  background-color: white;
  height: 2em;
  width: 2em;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  float: left;
}

#title {
  color: teal;
  font-size: 5em;
  margin-left: 15%;
}

#sidebar {
  height: 100%;
  width: 12%;
  float: left;
  position: fixed;
  text-align: left;
  line-height: 2em;
  cursor: default;
}

#user {
  margin-left: 1em;
}

#SongCollection {
  margin-left: 17%;
  margin-right: auto;
}

#songInfo {
  float: left;
  width: 30%;
  margin-left: 5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  line-height: normal;
}

#musicplayer {
  background-color: rgb(245,245,245);
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
