html {
  background-color: black;
}

.App {
  text-align: center;
}

.song {
  color: white;
}

.song:hover {
  color: yellow;
  cursor: pointer;
}

#title {
  color: teal;
}

#musicplayer {
  background-color: rgb(245,245,245);
  position: fixed;
  bottom: 0;
  width: 100%;
}
